body {
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}

.container {
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
}

.logo {
    width: 100%;
    float: left;
}

.left {
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
}

.right {
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: white;
}

.left-button {
    display: flex;
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}

.logoImg {
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
    border-radius: 24px;
}

.titulo {
    float: inherit;
    margin-left: 20%;
}

.text-input {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 60%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
}

#imgDerecha {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    width: 90%;
    height: auto;
    border-radius: 24px;

}

#texto {
    margin-left: 7%;
    margin-right: 5%;
}

#texto2 {
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
}

#btn-encriptar {
    max-width: 328px;
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0A3871;
}
#btn-desencriptar {
    max-width: 328px;
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #D8DFE8;
}

#btn-encriptar, #btn-desencriptar {
    max-width: 328px;
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
}

#copiar {
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
    display: none;
}


/* Responsive design */
@media (max-width: 57.5em) {
    .header {
        display: flex;
        flex-direction: row;
    }

    .encriptar {
        width: 100%;
    }

    .text-input {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .terminos p {
        font-size: 16px;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 48%;
        border-radius: 16px;
    }

    .btn-encriptar:hover,
    .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }

    .imgDerecha {
        top: 0;
        display: none;
        visibility: hidden;
    }
}